button {
    border-radius: 30px;
    padding: .6rem 2rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    transition: scale .5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notLoadingButton:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.02);
}